.carrousel{
  max-width: 50%;
  padding: var(--padding-large);

  h1{

  }

  .swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img{
      width: 50%;
    }
  }
}


