.carrousel{
  max-width: 50%;

  /*display: flex;
  justify-content: space-between;

  div{
    width: calc(33.3333% - 20px);
width: 800px;
  height: 400px;
  }*/

  .swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img{
      width: 50%;
    }
  }

}


