footer{
  padding: var(--padding-thin);
  background-color: var(--color-bg-secondary);

  position: relative;

  .logo{
    max-width: 15%;
    margin-bottom: var(--margin-large);
  }

  .material-icons{
    font-size: 2rem;
    color: var(--color-white);
    border: 3px solid var(--color-white);
    border-radius: 100%;

    position: absolute;
    right: 20px;

    &:hover{
      cursor: pointer;

      color: var(--color-bg-secondary);
      background-color: var(--color-white);
      transform: translateY(-5px);

      animation-name: top;
      animation-duration: 1.5s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
      animation-direction: normal, alternate;
    }
  }

  .medias-sociaux{
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-gap: 20px;
    justify-content: center;

    margin-bottom: var(--margin-large);

    .hover-social{
      display: inline-block;
      vertical-align: middle;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      transition-duration: 0.3s;
      transition-property: box-shadow;

      width: 44px;
      height: 44px;
      border-radius: 100%;

      circle{
        stroke: var(--color-white);
        stroke-width: 3px;
      }

      path{
        transform: translate(10px, 10px);
      }
    }

    .hover-social:hover, .hover-social:focus, .hover-social:active {
      box-shadow: 0 0 10px var(--color-white);
    }

    .facebook{
      fill: var(--color-facebook);

      circle{
        fill: var(--color-white);
        stroke-width: 2px;
      }

      path{
        transform: translate(2.75px, 2.75px) scale(1.6);
      }

      &:hover{
        fill:  var(--color-white);

        circle{
          fill: var(--color-facebook);
          stroke-width: 5px;
        }
      }
    }

    .twitter{
      fill: var(--color-white);

      circle{
        fill: var(--color-twitter);
      }

      &:hover{
        fill: var(--color-twitter);

        circle{
          fill: var(--color-white);
        }
      }
    }

    .instagram{
      fill: var(--color-white);

      circle{
        fill: var(--color-instagram);
      }

      &:hover{
        fill: var(--color-instagram);

        circle{
          fill: var(--color-white);
        }
      }
    }
  }

  p{
    text-align: center;
    margin: 0;
  }
}

@keyframes top {
  0%{transform: translateY(0);}
  50%{transform: translateY(-5px);}
  100%{transform: translateY(0);}
}

@media screen and(min-width: $vw-medium){
  footer{
    padding: var(--padding-large);

    .material-icons{
      font-size: 4rem;
      border-width: 5px;
    }

    .medias-sociaux{
      grid-gap: 30px;

      img{
        max-width: 100%;
        border: var(--color-white) solid 4px;
      }
    }
  }
}