.liste-films{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .liste-films-notes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    article {
      flex-basis: 33%;
      padding: 20px;

      border: 1px black solid;

      margin-bottom: 20px;
    }
  }
}







