//FICHIER DE CONFIGURATION POUR LES VARIABLES DE LARGEUR/HAUTEUR

:root{
  // Dimension maximal
  --max-width: 1200px;
  --min-width: 335px;

  --padding-thin: 10px;
  --padding-medium: 15px;
  --padding-large: 20px;
  --padding-very-large: 30px;
  --padding-huge: 40px;

  --margin-thin: 10px;
  --margin-large: 20px;
  --margin-very-large: 30px;
  --margin-huge: 40px;

}


// MEDIA QUERIES BREAKPOINTS
$vw-thin: 320px;
$vw-small: 576px;
$vw-medium: 768px;
$vw-large: 1000px;
$vw-huge: 1200px;






