//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE

:root{
  // Grosseur des textes
  --fz-mobile: 0.75rem; //12px
  --fz-small: 1rem;  //16px
  --fz-normal: 1.25rem; //20px

  // Grosseur des titres mobiles
  --fz-h1-mobile: 2rem;  //32px
  --fz-h2-mobile: 2rem;  //32px
  --fz-h3-mobile: 1.75rem; //28px
  --fz-h4-mobile: 2.25rem; //36px

  // Grosseur des titres mobiles
  --fz-h1-medium: 3rem;  //48px
  --fz-h2-medium: 3rem;  //48px
  --fz-h3-medium: 2.25rem; //36px
  --fz-h4-medium: 2.25rem; //36px

  // Grosseur des titres desktop
  --fz-h1: 4.5rem;  //72px
  --fz-h2: 4.5rem;  //72px
  --fz-h3: 3rem; //48px
  --fz-h4: 2.25rem; //36px

  /// Font family
  --ff-normal: 'Rubik', sans-serif;
  --ff-title-primary: 'Oswald', sans-serif;
  --ff-title-secondary: 'Open Sans Condensed', sans-serif;

  /// Hauteur de ligne
  --lh-extra-thin: 1;
  --lh-thin: 1.2;
  --lh-normal: 1.5;
  --lh-medium: 1.8;
  --lh-large: 2;
  --lh-extra-large: 2.4;



  /// Fonts weight
  --fw-thin: 100;
  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;

}







/// Grosseur des textes
//
//$fz-normal: rem(16);
//
//
///// Grosseur des titres
//
//$fz-h1: rem(36);
//$fz-h2: rem(32);
//$fz-h3: rem(22);
//$fz-h4: rem(20);
//$fz-h5: rem(18);
//$fz-h6: rem(16);
//
///// Hauteur de ligne
//$lh-extra-thin: 1;
//$lh-thin: 1.2;
//$lh-normal: 1.5;
//$lh-medium: 1.8;
//$lh-large: 2;
//$lh-extra-large: 2.4;
//
//
///// Font family
//
//$ff-normal: 'Roboto', Helvetica, Arial, sans-serif;
//$ff-title: 'Roboto', Helvetica, Arial, sans-serif;
//
///// Fonts weight
//$fw-thin: 100;
//$fw-extra-light: 200;
//$fw-light: 300;
//$fw-regular: 400;
//$fw-medium: 500;
//$fw-semibold: 600;
//$fw-bold: 700;
//$fw-extra-bold: 800;
//$fw-black: 900;



