//FICHIER DE CONFIGURATION POUR LES ÉLÉMENTS TITRE DE LA PAGE


h1, h3{
  font-family: var(--ff-title-primary);
  line-height: var(--lh-thin);
}

h2, h4{
  font-family: var(--ff-title-secondary);
  font-weight: var(--fw-light);
  line-height: var(--lh-medium);
}

h1{
  font-size: var(--fz-h1);
  text-transform: uppercase;
  font-weight: var(--fw-bold);
}

h2{
  font-size: var(--fz-h2);
  text-transform: uppercase;
}

h3{
  font-size: var(--fz-h3);
  font-weight: var(--fw-regular);
}

h4{
  font-size: var(--fz-h4);
  font-style: italic;
}